services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: Kaspi
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./back-end
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./front-end
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  db_data:
