:root {
  --accent: #0089d0;
  --bg: #f5f6fa;
  --text: #1e293b;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
}

#root {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.tabs {
  display: flex;
  margin-bottom: 16px;
}

.auth-container {
  /* gap: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 14px;
}

button[type="submit"] {
  background: var(--accent);
  color: white;
  border: none;
  padding: 14px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background: #006aa0;
}

.hidden {
  display: none;
}
